<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('search') }}">Поиск</a></li>
            <li><a href="{{ url_for('get_urls') }}">История</a></li>
        </ul>
    </nav>

    {% if messages %}
        {% for category, message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Проект №3</p>
    </footer>
</body>
</html>