<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заголовок{% endblock %}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2>О-оу, что-то произошло</h2>
    </header>
    <messages>
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </messages>
    <main>
        {% block errors %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <p>&copy; 2024 Хекслет, Проект №3</p>
        <img src="https://neural.love/ai-art-generator/1ef8adc4-ffb4-6972-ac32-c94deaf2712e/cute-cat-for-error-page-add-a-laptop-and-glasses" alt="A cute cat">
        {% endblock %}
    </footer>
</body>
</html>